/* app css stylesheet */

.cell {
  width: 20px;
  height: 20px;
  text-align: center;
  padding: 0;
  border: 1px solid #000;
  background-color: #bbb;
}

.cell.visited {
 background-color: #eee;
}

.cell .flagged {
  color: #d00;
}

.grid {
  margin: 0 auto;
}